{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="hero pt-2 pb-lg-5 mb-lg-5" style="background-image: url({{`../images/coin1.png` | relURL}})">
  <div class="container">

<nav class="breadcrumbs mb-5">
  <a href="#" class="breadcrumbs__item">Online Casino <svg class="icon" width="15" height="15">
    <use xlink:href="#arr-rt"></use>
  </svg></a>
  <a href="#" class="breadcrumbs__item breadcrumbs__item--current">Unibet Casino</a>
</nav>

    <div class="casino__parent">
      <h1>Unibet Casino</h1>
      <div class="row">
        <div class="casino__rating mt-lg-5 col-sm-6">
          <b>
            5.0
          </b>

          <span class="rating">
            <svg class="icon" width="15" height="15">
              <use xlink:href="#star-2"></use>
            </svg>
            <svg class="icon" width="15" height="15">
              <use xlink:href="#star-2"></use>
            </svg>
            <svg class="icon" width="15" height="15">
              <use xlink:href="#star-2"></use>
            </svg>
            <svg class="icon" width="15" height="15">
              <use xlink:href="#star-0"></use>
            </svg>
            <svg class="icon" width="15" height="15">
              <use xlink:href="#star-0"></use>
            </svg>
          </span>
          <span> (16 gamblers voted)</span>
        </div>
        <div class="casino__date col-sm-6 col-lg-12">
          Updated: 2021-11-10
        </div>
      </div>
    </div>

    <div class="casino__excerpt my-5">
      Online casinos are considered illegal on the territory of Singapore
      because their activities are legalized only in the named casinos. To play
      at an online casino, the casino site Singapore must be certified and have
      a license that confirms that the best online casino is operating legally
      and safely. To access the casino, the player must be 21 years of age or
      older, and then he will be able to access the various games presented on
      the sites. Among them, there are poker, blackjack, slot machines, and many
      other
    </div>

    <div class="casino">
      <div class="row mx-0">
        <div class="col-lg-4 col-md-6 casino__info-wrap">
          <div class="row">
            <b class="casino__title col-6 col-lg-12">
              Unibet Casino
            </b>

            <div class="casino__rating col-6 col-lg-12">
              <b>5.0</b>
              <div class="rating">
                <svg class="icon" width="15" height="15">
                  <use xlink:href="#star-2"></use>
                </svg>
                <svg class="icon" width="15" height="15">
                  <use xlink:href="#star-2"></use>
                </svg>
                <svg class="icon" width="15" height="15">
                  <use xlink:href="#star-2"></use>
                </svg>
                <svg class="icon" width="15" height="15">
                  <use xlink:href="#star-2"></use>
                </svg>
                <svg class="icon" width="15" height="15">
                  <use xlink:href="#star-2"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="casino__info">
            <img
              class="casino__logo"
              src="{{`../images/unibet.jpg` | relURL}}"
              alt="{{ .Title }}"
            />

            <div class="my-3">Number of Games: <b class="text--main">343</b></div>

            <div class="my-3">
              Software Developers:
              <b class="text--main">IGT, NetEnt, WMS</b>
            </div>

            <div class="my-3">Website: <a href="#" class="text--main">Unibet Casino</a></div>

            <div class="mb-4 mb-md-0">
              <a href="#" class="btn btn--bg">
                PLAY now
              </a>

              <div class="d-block d-sm-none">
                <span class="casino__details-toggle">
                  Show more
                  <svg class="icon" width="15" height="15">
                    <use xlink:href="#arr-down"></use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 casino__details-wrap">
          <table class="casino__details">
            <tr>
              <td class="">
                <span class="casino__details-title">Bonus:</span>
                <b>
                  100% Deposit Match up to $500
                </b>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="casino__details-title">
                  Features of the casino
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <ul class="casino__feature">
                  <li>
                    <svg class="icon" width="15" height="15">
                      <use xlink:href="#i1"></use>
                    </svg>
                    Live Chat?
                  </li>
                  <li>
                    <svg class="icon" width="15" height="15">
                      <use xlink:href="#i2"></use>
                    </svg>
                    Mobile Apps (iOS, Android)
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                <span class="casino__details-title">
                  Available Games
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <ul class="casino__games">
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Roulette
                  </li>
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Slots
                  </li>
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Baccarat
                  </li>
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Blackjack
                  </li>
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Sportsbooks
                  </li>
                  <li>
                    <svg width="10" height="10" class="icon">
                      <use xlink:href="#check"></use>
                    </svg>
                    Craps
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <span class="casino__details-title">
                  Banking methods
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="casino__pm">
                  <ul class="pm">
                    <li>
                      <img
                        src="{{ `../images/pm/box-mastercard.png` }}"
                        alt=""
                      />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-Visa.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-apple.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-skrill.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-Neteller.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-ecoPayz.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-privat24.png` }}" alt="" />
                    </li>
                    <li>
                      <img src="{{ `../images/pm/box-privat24.png` }}" alt="" />
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>

          <div class="d-block d-sm-none">
            <span class="casino__details-toggle">
              Show less
              <svg class="icon" width="15" height="15">
                <use xlink:href="#arr-top"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img
    class="hero__bg"
    src="{{ `../images/hero.svg` | relURL }}"
    alt="{{ .Title }}"
  />
</section>
